doctype(html)
html(lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(http-equiv='X-UA-Compatible', content='ie=edge')
        script(src='main.js')
        link(rel='stylesheet', href='style.css')
        title svgCurve
    body
        toggle-button
            input(type='checkbox')#curveSelector
            label(for='curveSelector')
            p(checked='Cubic') Quadratic            